﻿body
{
background-color:aliceblue;
}
#LoginForm{
    border-radius:5px;
    width:20%;
    margin-top:100px;
    margin-right: auto;
    margin-left: auto;
background-color:#051019;
    text-align:center;
    opacity:0.8;
}
#Textbox {
    height: 30px;
    width:80%;
    border-radius:5px;
    border-color:#051019;
}
#button {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    border-radius: 5px;
    height: 30px;
    border: 1px solid #01010c;
    background-color: #0c6996;
    color: white;
}

a{
color:white;
}
.forgot{
    font-size:15px;
   margin-top:40px;
  padding-bottom:50px;
  color:white;
}