body{
	 background-color:#99CCFF;
     font-family: Arial,Helvettica,sans-serif;
}
#registrationForm{  
padding-top: 12px;
width:50%;
opacity: 0.9;
margin-right: auto;
margin-left: auto;
background-color:#051019;
padding-bottom:15px;
box-shadow: 1px 3px 3px 4px #99CCFF;
border-radius:15px;
}

#Textbox{
width: 80%;
margin-left:10%;
margin-right:10%;
height: 30px;
border-radius:5px;
background-color:#99CCFF;
outline:0px;
border-color:#99CCFF;
}
#Textbox1{
width: 60%;
margin-left:10%;
margin-right:30%;
height: 30px;	
border-radius:5px;
background-color:#99CCFF;
border-color:#99CCFF;
}
.textbox2{
width :10%;	
margin-right:auto;
margin-left:65px;
}

#gendertype{
	border-color:#99CCFF;
	width:2%;	
        color:white;
        margin-right:auto;
        margin-left:29px;
}

#date{
	width:10%;
	margin-left:auto;
    margin-right:11px;
	border-color:#99CCFF;
	background-color:#99CCFF;
	}   

#bday{
	width: 10%;
	margin-right:10px;
	margin-left: 14px;
    color: white;
	border-radius:5px;
	}

.date{
	width: 42%;
	margin-left:65px;
	color: white;
	font-size: 15px;
	float: left;
	}
.gender{
	width:58%;
	margin-right: 80px;
	color: white;
	font-size: 15px;
	}
#submitbutton{
	width:200px;
	margin-left:65px;
	margin-right:auto;
        margin-top:-30px;
	border-radius:5px;
	height:30px;
	border: 1px solid #01010c;
	background-color:#0c6996;
	color:white;
	}
a{
  color:white;
  text-decoration:none;
  margin-left:65px;
  margin-right:auto;
}